html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pbjs-target-container {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: 1;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.pbjs-dropzone {
    border: dashed 4px transparent;
    background: #efefef;
    min-height: 800px;

}

.pbjs-drop-active {
    border-color: #aaa;
}

.pbjs-drop-target {
    background-color: #aaa;
    border: solid #fff;
}

.pbjs-droped-element {
    min-height: 100px;
    border: 1px dashed grey;
}

/*
 * Responsive target container based on bootstrap's container width
 * http://getbootstrap.com/css/#grid-options
*/

/* Extra small devices  */
@media (max-width: 768px) {
    .pbjs-target-container {
        width: 970px;
    }
}

/* Small devices  */
@media (min-width: 768px) {
    .pbjs-target-container {
        width: 970px;
    }
}

/* Medium devices */
@media (min-width: 992px) {
    .pbjs-target-container {
        width: 970px;
    }
}

/* Large devices */
@media (min-width: 1200px) {
    .pbjs-target-container {
        width: 1170px;
    }
}