.pbjs-components {
  padding: 10px;
  background: black;
  color: white;
  width: 100px;
  float: left;
  position: absolute;
  z-index: 9999;
  left: 2px;
  top: 50px;
  border-radius: 10px;
}

.pbjs-components .pbjs-component {
  z-index: 2;
  min-height: 50px;
  border-bottom: 2px dotted white;
  border-top: 2px dotted white;
  margin: 0 0 10px;
  padding: 10px;
  background-color: #1b6d85;
}

.pbjs-text-element {
  min-height: 100px;
}