.pbjs-components {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
}

.pbjs-components .pbjs-component {
  display: inline-block;
  z-index: 2;
}

.pbjs-target-container {
  width: 100%;
  min-height: 400px;
  background: darkgray;
  z-index: 1;
}